# Copy this file to .env.local and fill in real values
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres"
HF_TOKEN="hf_YOUR_HUGGINGFACE_TOKEN"
IPINFO_TOKEN="YOUR_IPINFO_TOKEN"
ABUSEIPDB_KEY="YOUR_ABUSEIPDB_API_KEY"
